{% comment %}
  Associated Information:
    blog
    type
{% endcomment %}

{{ "component-column-card.css" | asset_url | stylesheet_tag }}

<style>
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
</style>

<div class="ColumnCard">
    <a href="{{ article.url }}" class="ColumnCard__Container">
      <div class="ColumnCard__ThumbnailWrapper">
        {% if article.image %}
          {% render "image", image: article.image alt:article.title, custom_class: "ColumnCard__Thumbnail"  %}
        {% else %}
          {{ "image" | placeholder_svg_tag }}
        {% endif %}
      </div>
      <div class="ColumnCard__TextWrapper">
        <span class="BaseText--small">
          {{ article.published_at |  date: "%Y/%m/%d" }}
        </span>
        <p class="BaseText">
          {{ article.title | escape }}
        </p>
      </div>
    </a>
</div>
