{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding" data-flex>
  <div class="Footer__LogoWrapper">
    <img src="{{ section.settings.image | img_url: 'master' }}" alt="">
  </div>
  <div class="Footer__ContentWrapper">
    <li class="Footer_SectionTitle">
      商品一覧
    </li>
    <ul class="Footer__CollectionListWrapper">
      {% for collection in collections %}
        <li class="Footer__CollectionList">
          {{- collection.title | link_to: collection.url }}
        </li>
      {% endfor %}
    </ul>
    <ul class="Footer__MenuContainer">
      {% for block in section.blocks %}
          <li class="Footer__Menu">
            {% case block.type %}
              {% when "text" %}
                {% assign page = block.settings.Footer__MenuPage %}
                <a href="{{ page.url }}">
                  {{ page.title }}
                </a>
              {% when "textarea" %}
                <a href="{{ block.settings.Footer__MenuOtherLink }}">
                  {{ block.settings.Footer__MenuOther }}
                </a>
          {% endcase %}
          </li>
      {% endfor %}
    </ul>
    <ul class="Footer__PolicyContainer">
      <li class="Footer__Menu">
            <a href="/policies/legal-notice">
            ・特定商取引法に基づく表記
            </a>
      </li>
      <li class="Footer__Menu">
        <a href="/pages/contact">
        ・ お問い合わせ
        </a>
      </li>
      <li class="Footer__Menu">
        <a href="/policies/privacy-policy">
        ・プライバシーポリシー
        </a>
      </li>
    </ul>
    <ul class="list--inline site-footer__social-icons social-icons site-footer__icon-list">
      {%- for social in socials -%}
        {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
        {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
        {%- if settings[social_link] != blank -%}
          <li class="social-icons__item">
            <a class="social-icons__link" href="{{ settings[social_link] | escape }}" aria-describedby="a11y-external-message">
              {%- include icon_link -%}
              <span class="icon__fallback-text">{{ social }}</span>
            </a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "name": "掲載ページ設定",
      "type": "text",
      "settings": [
        {
          "type": "page",
          "id": "Footer__MenuPage",
          "label": "ページ設定"
        }
      ]
    },
    {
      "name": "その他リンク",
      "type": "textarea",
      "settings": [
        {
          "type": "text",
          "id": "Footer__MenuOther",
          "label": "表示テキスト",
          "default": "TEST PAGE"
        },
        {
          "type": "url",
          "id": "Footer__MenuOtherLink",
          "label": "遷移先リンク"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }

  ]
}
{% endschema %}
