{{ "page-main-content.css" | asset_url | stylesheet_tag }}
<style>
  .PageMainContent{
    margin-top: {{ section.settings.PageMainContent__Margin }}px;
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media(max-width: 990px){
    .PageMainContent{
      margin-top: {{ section.settings.PageMainContent__Margin--sp }}px;
    }
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

</style>
<section class="PageMainContent">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when "text" %}
          <div class="PageMainContent__TitleWrapper section-{{ section.id }}-padding" data-flex="column">
            {% if block.settings.PageMainContent__SectionSubTitle %}
                <span class="PageMainContent__SubTitle">
                  {{ block.settings.PageMainContent__SectionSubTitle }}
                </span>
            {% endif %}
            <h2 class="PageMainContent__SectionTitle view-pc">
              {{ block.settings.PageMainContent__SectionTitle | newline_to_br }}
            </h2>
            <h2 class="PageMainContent__SectionTitle view-sp">
              {{ block.settings.PageMainContent__SectionTitle--sp | newline_to_br }}
            </h2>
          </div>
      {% when "richtext" %}
          <div class="PageMainContent__FlexContainer section-{{ section.id }}-padding {% if block.settings.PageMainContent__ExplainFlexheading == true %} PageMainContent__FlexContainer--rev {% endif %}" data-flex>
            <div class="PageMainContent__FlexImgWrapper">
              <img src="{{ block.settings.PageMainContent__ExplainImg | img_url: 'master' }}">
            </div>
            <div class="PageMainContent__FlexTextWrapper">
              {{ block.settings.PageMainContent__ExplainText }}
            </div>
          </div>
      {% when "image_picker" %}
        <div class="PageMainContent__ImageContainer section-{{ section.id }}-padding" data-flex>
          <picture>
            <source media="(max-width:990px)" srcset="{{ block.settings.PageMainContent__Img--sp | img_url: 'master' }}">
            <img src="{{ block.settings.PageMainContent__Img | img_url: 'master' }}">
          </picture>
        </div>
      {% when "textarea" %}
        <div class="PageMainContent__InterviewContainer" aria-details="column">
          <div class="PageMainContent__TitleWrapper section-{{ section.id }}-padding" data-flex="column">
            {% if block.settings.PageMainContent__InterviewSubTitle %}
              <span class="PageMainContent__SubTitle">
                {{ block.settings.PageMainContent__InterviewSubTitle }}
              </span>
            {% endif %}
            <h2 class="PageMainContent__SectionTitle view-pc">
              {{ block.settings.PageMainContent__InterviewTitle | newline_to_br }}
            </h2>
            <h2 class="PageMainContent__SectionTitle view-sp">
              {{ block.settings.PageMainContent__InterviewTitle--sp | newline_to_br }}
            </h2>
          </div>
          <div class="PageMainContent__FlexContainer section-{{ section.id }}-padding {% if block.settings.PageMainContent__InterviewFlexheading == true %} PageMainContent__FlexContainer--rev {% endif %}" data-flex>
            <div class="PageMainContent__FlexImgWrapper">
              <img src="{{ block.settings.PageMainContent__InterviewImg | img_url: 'master' }}">
            </div>
            <div class="PageMainContent__FlexTextWrapper">
              {{ block.settings.PageMainContent__InterviewText }}
            </div>
          </div>
        </div>
      {% when "paragraph" %}
        <div class="PageMainContent__TitleWrapper inner section-{{ section.id }}-padding" data-flex="column">
          {% if block.settings.PageMainContent__InnerSectionSubTitle %}
              <span class="PageMainContent__SubTitle">
                {{ block.settings.PageMainContent__InnerSectionSubTitle }}
              </span>
          {% endif %}
          <h2 class="PageMainContent__SectionTitle view-pc">
            {{ block.settings.PageMainContent__InnerSectionTitle | newline_to_br }}
          </h2>
          <h2 class="PageMainContent__SectionTitle view-sp">
            {{ block.settings.PageMainContent__InnerSectionTitle--sp | newline_to_br }}
          </h2>
        </div>
        <div
          class="PageMainContent__InnerFlexContainer section-{{ section.id }}-padding {% if block.settings.PageMainContent__InnerFlexheading == true %} PageMainContent__InnerFlexContainer--rev {% endif %}"
          data-flex
        >
          <div class="PageMainContent__InnerFlexImgWrapper">
            <img src="{{ block.settings.PageMainContent__InnerImg | img_url: 'master' }}">
          </div>
          <div class="PageMainContent__FlexTextWrapper">
            {{ block.settings.PageMainContent__InnerText }}
          </div>
        </div>
    {% endcase %}
  {% endfor %}
</section>

{% schema %}
{
  "name": "ページメイン",
  "presets": [
    {
      "name": "ページメイン"
    }
  ],
  "settings": [
    {
        "type": "range",
        "id": "PageMainContent__Margin",
        "max": 100,
        "min": -500,
        "step": 10,
        "label": "上マージン設定",
        "default": -400
      },
      {
        "type": "range",
        "id": "PageMainContent__Margin--sp",
        "max": 100,
        "min": -500,
        "step": 10,
        "label": "SP時の上マージン設定",
        "default": -270
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }

    ],
  "blocks": [
    {
      "name": "タイトルセクション",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "PageMainContent__SectionSubTitle",
          "label": "サブタイトル",
          "default": "SubTitle"
        },
        {
          "type": "textarea",
          "id": "PageMainContent__SectionTitle",
          "label": "タイトル"
        },
        {
          "type": "textarea",
          "id": "PageMainContent__SectionTitle--sp",
          "label": "タイトルSP"
        }
      ]
    },
    {
      "name": "画像付きテキスト",
      "type": "richtext",
      "settings": [
        {
          "type": "checkbox",
          "id": "PageMainContent__ExplainFlexheading",
          "label": "PC時のセクションの順番"
        },
        {
          "type": "image_picker",
          "id": "PageMainContent__ExplainImg",
          "label": "掲載画像"
        },
        {
          "type": "richtext",
          "id": "PageMainContent__ExplainText",
          "label": "コンテンツ"
        }
      ]
    },
    {
      "name": "画像",
      "type": "image_picker",
      "settings": [
        {
          "type": "image_picker",
          "id": "PageMainContent__Img",
          "label": "画像"
        },
        {
          "type": "image_picker",
          "id": "PageMainContent__Img--sp",
          "label": "SP用画像"
        }
      ]
    },
    {
      "name": "インタビュー",
      "type": "textarea",
      "settings": [
        {
          "type": "text",
          "id": "PageMainContent__InterviewSubTitle",
          "label": "サブタイトル",
          "default": "SubTitle"
        },
        {
          "type": "textarea",
          "id": "PageMainContent__InterviewTitle",
          "label": "タイトル"
        },
        {
          "type": "textarea",
          "id": "PageMainContent__InterviewTitle--sp",
          "label": "タイトルSP"
        },
        {
          "type": "checkbox",
          "id": "PageMainContent__InterviewFlexheading",
          "label": "PC時のセクションの順番"
        },
        {
          "type": "image_picker",
          "id": "PageMainContent__InterviewImg",
          "label": "掲載画像"
        },
        {
          "type": "richtext",
          "id": "PageMainContent__InterviewText",
          "label": "コンテンツ",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        }
      ]
    },
    {
      "name": "枠内コンテンツ",
      "type": "paragraph",
      "settings": [
        {
          "type": "text",
          "id": "PageMainContent__InnerSectionSubTitle",
          "label": "サブタイトル",
          "default": "SubTitle"
        },
        {
          "type": "textarea",
          "id": "PageMainContent__InnerSectionTitle",
          "label": "タイトル"
        },
        {
          "type": "textarea",
          "id": "PageMainContent__InnerSectionTitle--sp",
          "label": "タイトルSP"
        },
        {
          "type": "checkbox",
          "id": "PageMainContent__InnerFlexheading",
          "label": "PC時のセクションの順番"
        },
        {
          "type": "image_picker",
          "id": "PageMainContent__InnerImg",
          "label": "掲載画像"
        },
        {
          "type": "richtext",
          "id": "PageMainContent__InnerText",
          "label": "コンテンツ"
        }
      ]
    }
  ]
}
{% endschema %}
