{{"section-slider.css" |  asset_url | stylesheet_tag}}
{% comment %} <section class="Slider__Padding">
  <div class="Mainvisual__TextContainer">
    <h1 class="MainVisual__Title">
      {{ section.settings.MainVisual__Title | newline_to_br }}
    </h1>
    <p class="Slider__Text--PC">
      {{ section.settings.MainVisual__Text | newline_to_br }}
    </p>
  </div>
</section>
 {% endcomment %}
<section class="Slider">
  <div class="Mainvisual__TextContainer">
    <h1 class="MainVisual__Title">
      {{ section.settings.MainVisual__Title | newline_to_br }}
    </h1>
    <p class="Slider__Text--PC">
      {{ section.settings.MainVisual__Text | newline_to_br }}
    </p>
  </div>

  <div class="Slider__ContentWrapper">
    {% for block in section.blocks %}
      <div class="Slider__Content">
        {% if block.settings.Slider__ContentLink %}
          <a href="{{ block.settings.Slider__ContentLink }}">
            <img src="{{ block.settings.Slider__ContentImage | img_url: 'master' }}" alt="スライダー画像">
          </a>
        {% else %}
          <img src="{{ block.settings.Slider__ContentImage | img_url: 'master' }}" alt="スライダー画像">
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>

{% javascript %}
  $('.Slider__ContentWrapper').slick({
    autoplay: true,//自動的に動き出すか。初期値はfalse。
    infinite: true,//スライドをループさせるかどうか。初期値はtrue。
    slidesToShow: 1,//スライドを画面に3枚見せる
    slidesToScroll: 1,//1回のスクロールで3枚の写真を移動して見せる
    centerMode: true,
    centerPadding: "0px",
    arrows: false,
    fade: true,
    speed: 200
  });
{% endjavascript %}

{% schema %}
{
  "name": "メインビジュアル",
  "presets": [
    {
      "name": "メインビジュアル_slider"
    }
  ],
  "settings": [
    {
        "type": "textarea",
        "id": "MainVisual__Title",
        "label": "タイトルテキスト"
      },
      {
        "type": "textarea",
        "id": "MainVisual__Text",
        "label": "説明文テキスト"
      }
    ],
  "blocks": [
    {
      "name": "スライダー画像",
      "limit": 5,
      "type": "text",
      "settings": [
        {
          "type": "image_picker",
          "id": "Slider__ContentImage",
          "label": "t:sections.Slider.blocks.settings.Slider__ContentImage.label"
        },
        {
          "type": "url",
          "id": "Slider__ContentLink",
          "label": "t:sections.Slider.blocks.settings.Slider__ContentLink.label"
        }
      ]
    }
  ]
}
{% endschema %}
